*.o
.*.d
*.so*
*.dylib*
.*.swp
*.*~
config.log
include/config.h
include/config.h.in
configure
config.guess
config.status
config.sub
.config
*.d
autom4te.cache
aclocal.*
*.a
config.mak
preload/exported.h
preload/export.map
preload/wrappers.c
utils/sb2-show
utils/sb2-monitor
utils/sb2-interp-wrapper
.version
preload/privatewrappers.c
preload/privatewrappers.h
include/scratchbox2_version.h
build/
compile_commands.json
