*.o
.*.d
*.so*
.*.swp
*.*~
config.log
include/config.h
include/config.h.in
configure
config.status
.config
*.d
autom4te.cache
aclocal.*
*.a
config.mak
preload/exported.h
preload/ldexportlist
preload/wrappers.c
obj-32
obj-64
.configure-multilib
utils/sb2-show
utils/sb2-monitor
